{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form name="quote" id="quote" method="POST" action="/quote">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look Up</button>
        <br />
        <br />
        {% if invalid %}
            <div class="alert alert-warning" role="alert">The symbol {{symbol}} is invalid</div>
        {% endif %}
    </form>
{% endblock %}