{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look Up</button>
    </form>
    <br />
    <br />
    <table class="table table-striped table-light">
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Price (USD)</th>
        </tr>

        <tr>
            <td>{{ symbol }}</td>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
        </tr>
    </table>
{% endblock %}